{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}Servis ACTIA{% endblock %}

<!-- {% block extrahead %}<link rel="shortcut icon" href="/favicon.ico" />{% endblock %} -->

{% block branding %}<h1 id="site-name">Servis</h1>{% endblock %}

{% block usertools %}
<div id="user-tools">
    {% block welcome-msg %}
        {% translate 'Welcome,' %}
        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    {% endblock %}
    {% block userlinks %}
        {% if user.is_staff %}
        <a href="{% url 'admin:index' %}">{% translate 'ACTIA Admin' %}</a> /
        {% endif %}
        {% if user.has_usable_password %}
        <a href="/accounts/password_change">{% translate 'Change password' %}</a> /
        {% endif %}
        <a href="/accounts/logout">{% translate 'Log out' %}</a>
    {% endblock %}
</div>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}


{% block content %}
<h1>{% translate 'Welcome to ACTIA Service page' %}</h1>

<div id="content-main">
    <div class="app-atech module">
      <table>
          <head>
            <th>Den kalibrace</th>
            <th>Zákazník</th>
            <th>Město</th>
            <th>Ulice</th>
            <th></th>
          </head>
          {% for post in posts %}
          <tr>
             <!-- <th scope="row"><a href="{{a.url}}">{{a.name}}</a></th> -->
              <th scope="row"><a >{{post.next_date|date:'d-m-Y'}}</a></th>
              <td style="text-align: center;">{{post.client.service_name}}</td>
              <td style="text-align: center;">{{post.client.city}}</td>
              <td style="text-align: center;">{{post.client.street}}</td>
              <td> <button type="submit" class="save btn btn-default">Servis proveden</button></td>
          </tr>
          {% endfor %}
      </table>
    </div>
</div>
{% endblock %}
