{% extends "admin/base.html" %}
{% load i18n static %}
{% block title %}Servis ACTIA{% endblock %}
{% block branding %}<h1 id="site-name">Servis</h1>{% endblock %}

{% block usertools %}
<div id="user-tools">
    {% block welcome-msg %}
        {% translate 'Welcome,' %}
        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    {% endblock %}
    {% block userlinks %}
        {% if user.is_staff %}
        <a href="{% url 'admin:index' %}">{% translate 'ACTIA Admin' %}</a> /
        {% endif %}
        {% if user.has_usable_password %}
        <a href="/accounts/password_change">{% translate 'Change password' %}</a> /
        {% endif %}
        <a href="/accounts/logout">{% translate 'Log out' %}</a>
    {% endblock %}
</div>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}


<html>
     <body>
       <div class="page-header">
         <h1>{% translate 'Welcome to ACTIA Service page' %}</h1>
        </div>
        <div class="content container">
          {% block content %}
          {% endblock %}
        </div>
     </body>
</html>
