{% extends 'pages/base.html' %}



{% block content %}
<div id="content-main">
    <div class="app-atech module">
      <table>
          <head>
            <th>Den kalibrace</th>
            <th>Zákazník</th>
            <th>Město</th>
            <th>Ulice</th>
            <th>typ zařízení</th>
            <th>sériové číslo</th>
            <th>udělat kalibraci</th>
          </head>
          {% for post in posts %}
          <tr>
             <!-- <th scope="row"><a href="{{a.url}}">{{a.name}}</a></th> -->
              <th scope="row"><a >{{post.next_date|date:'d-m-Y'}}</a></th>
              <td style="text-align: center;">{{post.device.client.service_name}}</td>
              <td style="text-align: center;">{{post.device.client.city}}</td>
              <td style="text-align: center;">{{post.device.client.street}}</td>
              <td style="text-align: center;">{{post.device.device_type.type}}</td>
              <td style="text-align: center;">{{post.device.serial_number}}</td>

              <td> <button type="submit" class="save btn btn-default">Servis proveden</button></td>
          </tr>
          {% endfor %}
      </table>
    </div>
</div>
{% endblock %}
