{% extends 'pages/base.html' %}



{% block content %}


      <div class="post">
         <p>příští kalibrace: {{ post.next_date|date:'d-m-Y' }}</p>
         <h1><a href="">{{ post.device.client.service_name}}</a></h1>
         <p>{{ post.device.client.street}}</p>
      </div>

{% endblock %}
