


<div>
    <h1><a href="/">SERVICE evidence kalibrací</a></h1>
</div>
{% for post in posts %}
    <div>
       <p>příští kalibrace: {{ post.next_date|date:'d-m-Y' }}</p>
       <h1><a href="">{{ post.device.client.service_name}}</a></h1>
       <p>{{ post.device.client.street}}</p>
    </div>
{% endfor %}
