{% extends 'pages/base.html' %}



{% block content %}


      <!-- <div class="post">
         <h1><a href="">{{ post.client.service_name}}</a></h1>

         <p>{{ post.client.street}}</p>
         <p>{{ post.client.city}}</p>
         <p>{{ post.client.psc_number}}</p>
         <p>{{ post.client.phone_number}}</p>


      </div> -->
      <h1>Clent device</h1>
      <!-- <form method="POST" class="post-form">{% csrf_token %}  <!-- POST - znacka HTML ma se to poslat na server --> -->
          {{ form.as_p }}
          <!-- <button type="submit" class="save btn btn-default">Save</button> <!--button submit - ulozit --> -->
      <!-- </form> -->


{% endblock %}
