
{% extends 'pages/base.html' %}



{% block content %}

<div id="content-main">
  <form  method="POST" class="post-form">
  <h1><a href="{% url 'add_calibration' %}">add calibration</a></h1>

    <div class="app-atech module">

        <table>

            <head>
              <tr>
                <th>Příští kalibrace</th>
                <th>Zákazník</th>
                <th>Město</th>
                <th>Ulice</th>
                <th>typ zařízení</th>
                <th>sériové číslo</th>
                <th>udělat kalibraci</th>
                <th> send email</th>
              </tr>
            </head>
            {% for device in devices %}


            <tr>
               <!-- <th scope="row"><a href="{{a.url}}">{{a.name}}</a></th> -->
                <th scope="row"><a >{{device.last_calibration.next_date|date:'d-m-Y'}}</a></th>
                <td style="text-align: center;"> <a href="{% url 'client_detail' pk=device.pk %}">{{device.client.service_name}}</a></td>
                <td style="text-align: center;">{{device.client.city}}</td>
                <td style="text-align: center;">{{device.client.street}}</td>
                <td style="text-align: center;"><a href="{% url 'device_detail' pk=device.pk %}">{{device.device_type.type}}</a></td>
                <td style="text-align: center;">{{device.serial_number}}</td>
                <td style="text-align: center;"><a href="{% url 'now_calibrated' pk=device.pk %}">Calibrace provedena</a></td>
                <td ><input type="checkbox" value="{{device.client.email}}" name="email">'email add'</td>
                <!-- <td ><input type="checkbox" value="{{device.id}}" name="email">'email add'</td> -->
                <!-- <td ><input type="checkbox", value="not clicked" name=""{{ device.client.email }}"checked >'email add'</td> -->

            </tr>
            {% endfor %}
        </table>

    </div>
    <div>
    <button type="submit" name="send_email" value="send_email">Send email</button>
    </div>
    </form>
</div>
{% endblock %}
