{% extends 'pages/base.html' %}



{% block content %}


  <h1>Detail device</h1>
  <!-- <form method="POST" class="post-form">{% csrf_token %}  <!-- POST - znacka HTML ma se to poslat na server --> -->
      {{ form.as_p }}
      <!-- <button type="submit" class="save btn btn-default">Save</button> <!--button submit - ulozit --> -->
  <!-- </form> -->

{% endblock %}
